<form #formAdd="ngForm" (ngSubmit)="onSubmitCate()">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" [(ngModel)]="cate.name" placeholder="name" name="name" #name="ngModel" required minlength="10">
        <div *ngIf="name.errors?.['required']&& (name.dirty || name.touched)" class="alert alert-danger">
            Name is required
        </div>
        <div *ngIf="name.errors?.['minlength']&& (name.dirty || name.touched)" class="alert alert-danger">
            Min length la 10
        </div>
    </div>
    <button type="submit " class="btn btn-primary " [disabled]="!formAdd.valid">Submit</button>
</form>