<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Handler</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>
                <!-- <button class="btn btn-info">Info</button> -->
                <!-- <button routerLink="admin/product/{{ product.id }}">Detail</button> -->
                <button class="btn btn-danger" (click)="onRemoveItem(product.id!)">Remove</button>
                <!-- <button routerLink="products/edit/{{product.id}}" class=" btn btn-primary  ">Update</button> -->
                <button class="btn btn-info"><a href="admin/products/edit/{{product.id}}">update</a></button>
            </td>

        </tr>
    </tbody>
</table>
<button class="btn btn-info "><a href="admin/products/add">Them moi</a></button>