<section class="rectent_posts">
    <div class="container">
        <div class="rectent_posts__row">
            <div class="row__title">
                <span style="font-size:22px ;">Rectent posts</span>
            </div>
            <div class="row__view-all">
                <span> <a style="text-decoration: none;" href="/blog">View all</a> </span>
            </div>
        </div>
        <div class="rectent_posts__row-item-rectent">
            <div class="item_recent" *ngFor="let post of blogList">
                <div class="item_rectent__title">
                    <h2><a href="/blog/detail/{{post.id}}" style="text-decoration:none ;">{{post.title}}</a> </h2>
                </div>
                <div class="item_rectent__row-date-category">
                    <div class="date">
                        <span>{{post.createAt}}</span>
                    </div>
                    <div class="date">
                        <span style="margin-left: 10px;">|</span>
                    </div>
                    <div class="category">
                        <span>{{post.categoryBlog?.name}}</span>
                    </div>
                </div>
                <div class="item_rectent__description">
                    <p>{{post.desc}}</p>
                </div>
            </div>
        </div>



    </div>
</section>