<body>
    <section class="blog">
        <div class="container">
            <h2 class="blog_tile">Blog</h2>
            <div class="blog_item">
                <h2 class="blog_name">Making a design system from scratch</h2>
                <div class="blog_infor">
                    <p class="time_blog">
                        12 Feb 2020
                    </p>
                    <span class="boder">|</span>
                    <p class="blog_cate">Design, Pattern</p>
                </div>
                <div class="blog_desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </div>
                <hr>
            </div>
            <div class="blog_item">
                <h2 class="blog_name">Making a design system from scratch</h2>
                <div class="blog_infor">
                    <p class="time_blog">
                        12 Feb 2020
                    </p>
                    <span class="boder">|</span>
                    <p class="blog_cate">Design, Pattern</p>
                </div>
                <div class="blog_desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </div>
                <hr>
            </div>
            <div class="blog_item">
                <h2 class="blog_name">Making a design system from scratch</h2>
                <div class="blog_infor">
                    <p class="time_blog">
                        12 Feb 2020
                    </p>
                    <span class="boder">|</span>
                    <p class="blog_cate">Design, Pattern</p>
                </div>
                <div class="blog_desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </div>
                <hr>
            </div>
            <div class="blog_item">
                <h2 class="blog_name">Making a design system from scratch</h2>
                <div class="blog_infor">
                    <p class="time_blog">
                        12 Feb 2020
                    </p>
                    <span class="boder">|</span>
                    <p class="blog_cate">Design, Pattern</p>
                </div>
                <div class="blog_desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </div>
                <hr>
            </div>

        </div>
    </section>
</body>