* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Heebo", sans-serif !important;
}

.container {
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


/** rectent_posts **/

.rectent_posts {
    background-color: #edf7fa;
    padding-bottom: 30px;
}

.rectent_posts__row {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.rectent_posts__row .row__view-all span {
    color: #00a8cc;
}

.rectent_posts__row-item-rectent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.item_recent {
    background-color: white;
    padding: 20px;
}

.item_recent__title h2 {
    font-size: 26px;
    line-height: 38px;
}

.feature_works__row-item-work .item_work {
    display: grid;
    grid-template-columns: 246px auto;
    gap: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 20px;
}

.item_rectent__row-date-category {
    padding: 20px 0;
    display: flex;
}

.item_rectent__row-date-category .date span {
    margin-top: 10px;
    border-radius: 20px;
    /* font-weight: bold; */
    font-size: 20px;
}

.item_rectent__row-date-category .category {
    margin-left: 10px;
    color: #8695a4;
    font-size: 20px;
}


/** feature_works **/

@media only screen and (min-width: 855px) {
    .container {
        width: 855px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        padding: 0 20px;
    }
    .information__about {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        padding: 0 10px;
    }
    .rectent_posts__row {
        display: block;
    }
    .rectent_posts__row .row__title {
        text-align: center;
    }
    .rectent_posts__row .row__view-all {
        display: none;
    }
    .rectent_posts__row-item-rectent {
        grid-template-columns: 1fr;
    }
}