<section class="rectent_posts">
    <div class="container">
        <div class="rectent_posts__row">
            <div class="row__title">
                <span style="font-size:22px ;">Rectent posts</span>
            </div>
            <div class="row__view-all">
                <span>View all</span>
            </div>
        </div>
        <div class="rectent_posts__row-item-rectent">
            <div class="item_recent" *ngFor="let post of postList">
                <div class="item_rectent__title">
                    <h2>{{post.title}}</h2>
                </div>
                <div class="item_rectent__row-date-category">
                    <div class="date">
                        <span>{{post.createAt}}</span>
                    </div>
                    <div class="category">
                        <span>{{post.catePost}}</span>
                    </div>
                </div>
                <div class="item_rectent__description">
                    <p>{{post.desc}}</p>
                </div>
            </div>


            <!-- <div class="item_recent">
                <div class="item_rectent__title">
                    <h2>Making a design system from scratch</h2>
                </div>
                <div class="item_rectent__row-date-category">
                    <div class="date">
                        <span>12 Feb 2020</span>
                    </div>
                    <div class="category">
                        <span>Design, Pattern</span>
                    </div>
                </div>
                <div class="item_rectent__description">
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div> -->
        </div>



    </div>
</section>