<form (ngSubmit)="onSubmitPost()">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input type="text" [(ngModel)]="post.title" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Image</label>
        <input type="text" [(ngModel)]="post.image" class="form-control" name="image">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">CreateAt</label>
        <input type="text" [(ngModel)]="post.createAt" class="form-control" name="createAt">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Short_desc</label><br>
        <textarea name="short_desc" [(ngModel)]="post.short_desc" id="" cols="50" rows="5" style="width: 100%;"></textarea>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Desc</label><br>
        <textarea name="desc" [(ngModel)]="post.desc" id="" cols="50" rows="5" style="width: 100%;"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>