<section class="information">
    <div class="container" *ngFor="let user of userList ">

        <div class="infomation__content">
            <div class="information__info">
                <h2>
                    Hi, I am <span>{{user.name}}</span>,<br>
                    <span>Creative Technologist</span>
                </h2>
            </div>
            <div class="information__about">
                <p>
                    {{user.desc}}
                    <!-- Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. -->
                </p>
            </div>
            <div class="information__btn">
                <a style="text-decoration: none;" href="../../../../assets/hosocanhan.pdf" download="hosocanhan.pdf"> <button>Download Resume</button></a>
            </div>
        </div>

        <div class="information__img">
            <img src={{user.image}} alt='Ellipse-1' />
        </div>
    </div>
</section>