<body>
    <section class="Work">
        <div class="container">
            <h2 class="work_title">Work</h2>
            <div class="row_word">
                <div class="colum_word">
                    <div class="image_word">
                        <img src="../assets/img/Rectangle 30.jpg" alt="">
                    </div>
                    <div class="infor_word">
                        <ul>
                            <li>
                                <h2 class="infor_word_name">Designing Dashboards</h2>
                            </li>
                            <li>
                                <div class="word_item">
                                    <div class="btn_word">2020</div>
                                    <div class="word_cate">
                                        Dashboard
                                    </div>
                                </div>
                            </li>
                            <li class="word_desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. </li>
                        </ul>
                    </div>
                </div>
                <hr>

            </div>
            <div class="row_word">
                <div class="colum_word">
                    <div class="image_word">
                        <img src="../assets/img/Rectangle 32.png" alt="">
                    </div>
                    <div class="infor_word">
                        <ul>
                            <li>
                                <h2 class="infor_word_name">Designing Dashboards</h2>
                            </li>
                            <li>
                                <div class="word_item">
                                    <div class="btn_word">2020</div>
                                    <div class="word_cate">
                                        Dashboard
                                    </div>
                                </div>
                            </li>
                            <li class="word_desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. </li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>
            <div class="row_word">
                <div class="colum_word">
                    <div class="image_word">
                        <img src="../assets/img/Rectangle 34.png" alt="">
                    </div>
                    <div class="infor_word">
                        <ul>
                            <li>
                                <h2 class="infor_word_name">Designing Dashboards</h2>
                            </li>
                            <li>
                                <div class="word_item">
                                    <div class="btn_word">2020</div>
                                    <div class="word_cate">
                                        Dashboard
                                    </div>
                                </div>
                            </li>
                            <li class="word_desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. </li>
                        </ul>
                    </div>
                </div>
                <hr>


            </div>
            <div class="row_word">
                <div class="colum_word">
                    <div class="image_word">
                        <img src="../assets/img/Rectangle 40.png" alt="">
                    </div>
                    <div class="infor_word">
                        <ul>
                            <li>
                                <h2 class="infor_word_name">Designing Dashboards</h2>
                            </li>
                            <li>
                                <div class="word_item">
                                    <div class="btn_word">2020</div>
                                    <div class="word_cate">
                                        Dashboard
                                    </div>
                                </div>
                            </li>
                            <li class="word_desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. </li>
                        </ul>
                    </div>
                </div>
                <hr>


            </div>
        </div>
    </section>
</body>