<section class="feature_works">
    <div class="container">
        <div class="row__title">
            <span>Featured works</span>
        </div>
        <div class="feature_works__row-item-work">
            <div class="item_work" *ngFor="let project of projectList ">

                <div class="item_work__img">
                    <img src={{project.image}} alt='Rectangle-30' />
                </div>
                <div class="item_work__content">
                    <div class="item_work__title">
                        <a style="text-decoration:none ;color: black;" href="/project/detail/{{project.id}}">
                            <h2>{{project.name}}</h2>
                        </a>

                    </div>
                    <div class="item_work__row-date-category">
                        <div class="date">
                            <span>{{project.createAt}}</span>
                        </div>
                        <div class="category">
                            <span><a href="categoryProjectdetail/{{project.categoryProjectId}}">{{project.categoryProject}}</a> </span>
                        </div>
                    </div>
                    <div class="item_work__description">
                        <p>{{project.short_desc}}</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>