<!-- <table class="table table-borderd">

    <body>

        <tr *ngFor="let product of productList; let i = index">
            <td>{{i+1}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>
                <button class="btn btn-info">Info </button>
            </td>
        </tr>
    </body>
</table> -->
<!-- <ul>
    <li><a href="products">Home</a></li>
    <li><a href="about">tin tuc</a></li>
    <li><a href="product/add">them san pham</a></li>
    <li>
        <a href=""></a>
    </li>
</ul> -->
<div>
    <div class="grid">
        <div *ngFor="let product of productList; let i=index" class="g-col-4">
            <img style="width: 20%;" src="https://kenh14cdn.com/thumb_w/660/2020/7/17/brvn-15950048783381206275371.jpg" alt=""><br>
            <h2>{{product.name}}</h2><br>
            <span>{{product.price}} VND</span> <br>
            <a href='/product/{{product.id}}'><button>Mua hangf</button></a>
            <button class="btn btn-primary" (click)="onRemoveItem(product.id)">Remove</button>
        </div>
    </div>
</div>