<section class="contact">
    <div class="container">
        <h2 class="title">Contact Me</h2>
        <div class="concat_info">
            <div>
                <form action="" (ngSubmit)="onSubmit()">
                    <div class="name">
                        <div>
                            <label for="" style="font-size: 20px;">First name</label><br>
                            <input style="width: 90%;height: 40px; border: none white;" type="text" [(ngModel)]="concat.fistname" name="fistname" id="">
                            <hr style="width: 100%;">
                        </div>
                        <div>
                            <label for="" style="font-size: 20px;">Last name</label><br>
                            <input type="text" style="width: 90%;height: 40px;border: none" [(ngModel)]="concat.lastname" name="lastname" id="">
                            <hr style="width: 100%;">
                        </div>
                    </div>
                    <div style="margin-top:20px ;">
                        <label for="" style="font-size: 20px;">Email address</label><br>
                        <input style="width: 100%;height: 40px;border: none;" [(ngModel)]="concat.email" type="text" name="email" id="">
                        <hr>
                    </div>
                    <div style="margin-top:20px ;">
                        <label for="" style="font-size: 20px;"> Message</label><br>
                        <textarea style="width: 100%; border: none;" name="message" id="" cols="30" rows="5" [(ngModel)]="concat.message"></textarea>
                        <hr>
                    </div>
                    <button style="margin-top: 20px; width: 120px; height: 40px;font-size: 20px;border-radius: 20px;">Submist</button>
                </form>
            </div>
            <div class="info">
                <ul>
                    <li>
                        <h2>Contact Info</h2>
                    </li>
                    <li><i class="fa-solid fa-location-dot"></i> Tam Thuấn, Phúc Thọ, TP Hà Nội</li>
                    <li><i class="fa-solid fa-phone"></i> 0962596202</li>
                    <li><i class="fa-solid fa-envelope"></i> duynguyenvan328@gmail.com</li>
                    <li><i class="fa-solid fa-globe"></i> https://project</li>
                </ul>
            </div>
        </div>
    </div>
</section>