<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- <link rel="stylesheet" href="../assets//css/index.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Document</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="../../../../assets/img/logo.png" alt="">
            </div>
            <div class="navbar" id="navbar">
                <ul>
                    <li><a routerLink="" class="nav__link">Home</a></li>
                    <li><a routerLink="/blog" class="nav__link">Blog</a></li>
                    <li><a routerLink="/work" class="nav__link">Works</a></li>
                    <li><a routerLink="/contact" class="nav__link">Contact</a></li>
                </ul>
            </div>
            <div class="nav__toggle" id="nav-toggle">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>
    <router-outlet></router-outlet>
    <footer>
        <div class="container">
            <div class="icon">
                <ul class="icon">
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-github"></i></li>
                </ul>
                <h3>Copyright ©2020 All rights reserved </h3>
            </div>
        </div>
    </footer>

</body>

</html>