* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Heebo", sans-serif;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


/** header **/

header {
    padding: 25px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 80px;
}

.nav__toggle {
    display: none;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar ul li a {
    padding-left: 36px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.navbar.show {
    right: 0;
}

header.shadow {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

@media only screen and (min-width: 855px) {
    .container {
        width: 855px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        padding: 0 20px;
    }
    .information__about {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        padding: 0 10px;
    }
    header {
        padding: 0;
    }
    .nav__toggle {
        display: inline;
        font-size: 50px;
    }
    .navbar {
        position: fixed;
        top: 73px;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: white;
        transition: 0.5s;
    }
    .navbar ul {
        display: block;
        position: absolute;
        top: 40px;
    }
    .navbar ul li {
        padding: 20px 0;
    }
}


/* info */

.row_info {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.image_info img {
    width: 240px;
    height: 240px;
}

.name {
    font-size: 44px;
}

.desc {
    font-size: 16px;
    width: 550px;
    margin-left: 0;
}

.btn {
    width: 220px;
    height: 47px;
    font-size: 20px;
    background-color: lightcoral;
    color: white;
    border: none;
    margin-top: 20px;
}


/*  */

.rectent_post {
    margin-top: 50px;
    background-color: #EDF7FA;
    height: 396px;
}

.row_rectent {
    display: flex;
    justify-content: space-between;
}

.post_item {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    height: 295px;
}

.row_item_link {
    text-decoration: none;
}

.row_post {
    display: grid;
    grid-template-columns: 418px 418px;
    grid-column-gap: 20px;
    margin-bottom: 20px;
}

.post_infor {
    display: flex;
    margin-top: 40px;
}

.postn_name {
    font-size: 26px;
}

.time_post {
    font-size: 18px;
    margin-top: 0;
}

.post_cate {
    margin-top: 0;
    font-size: 18px;
    margin-left: 20px;
}

.post_desc {
    /* width: 410px;
    margin-left: 0; */
    margin-top: 30px;
    font-size: 16px;
    margin-bottom: 20px;
}


/*  */

.colum_word {
    display: grid;
    grid-template-columns: 240px auto;
}

.row_word {
    margin-top: 30px;
}

.title {
    font-size: 22px;
}

.image_word img {
    width: 246px;
    height: 180px;
}

.infor_word ul li {
    margin-left: 20px;
    list-style-type: none;
}

.infor_word_name {
    margin-top: 0px;
    font-size: 30px;
}

.word_item {
    display: flex;
}

.btn_word {
    background-color: black;
    color: white;
    width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
}

.word_cate {
    margin-left: 20px;
    margin-top: 2px;
    font-size: 20px;
}

.word_desc {
    font-size: 16px;
    margin-top: 22px;
}


/* 
footer
 */

.icon {
    margin-top: 40px;
    text-align: center;
}

.icon ul li {
    display: inline;
    padding: 4px;
}


/* =================================responsive==================================== */

@media only screen and (max-width:450px) {
    body {
        width: 375px;
    }
    .row_info {
        flex-direction: column-reverse;
    }
    .image_info img {
        margin: auto;
    }
    .desc {
        margin: auto;
        width: 300px;
        text-align: center;
    }
    .about {
        text-align: center;
    }
    .row_item {
        text-align: center;
    }
    .row_item_link {
        display: none;
    }
    .container {
        padding: 2px 20px;
        margin: auto;
    }
    .rectent_post {
        width: 100%;
        height: 100%;
    }
    .row_post {
        display: block;
    }
    .postn_name {
        padding-top: 20px;
    }
    .post_infor {
        margin-top: 10px;
    }
    .post_desc {
        margin-top: 5px;
    }
    .colum_word {
        display: block;
    }
    .image_word img {
        width: 100%;
        height: 230px;
    }
    .infor_word {
        width: 100%;
        margin-top: 15px;
    }
    .infor_word ul li {
        margin-left: 0px;
    }
}