<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- <link rel="stylesheet" href="../assets//css/index.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Document</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="../../../../assets/img/logo.png" alt="">
            </div>
            <div class="navbar" id="navbar">
                <ul>
                    <li><a href="" class="nav__link">Home</a></li>
                    <li><a href="/blog" class="nav__link">Blog</a></li>
                    <li><a href="/work" class="nav__link">Works</a></li>
                    <li><a href="/contact" class="nav__link">Contact</a></li>
                </ul>
            </div>
            <div class="nav__toggle" id="nav-toggle">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- <section class="info">
        <div class="container">
            <div class="row_info">
                <div class="about">
                    <h2 class="name">
                        Hi, I am John,<br>
                        <span>
                            Creative Technologist
                        </span>

                    </h2>
                    <p class="desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    <button class="btn "> Download Resume</button>
                </div>
                <div class="image_info">
                    <img src="../assets/img/Ellipse 1.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="rectent_post">
        <div class="container">
            <div class="row_rectent">
                <div class="row_item">

                    <h2>Recent posts</h2>

                </div>
                <div class="row_item">

                    <h2><a href="" class="row_item_link">View all</a></h2>
                </div>
            </div>
            <div class="row_post">
                <div class="post_item">
                    <h2 class="postn_name">Making a design system from scratch</h2>
                    <div class="post_infor">
                        <p class="time_post">
                            12 Feb 2020
                        </p>
                        <span style="margin-left: 20px;">|</span>
                        <p class="post_cate">Design, Pattern</p>
                    </div>
                    <div class="post_desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </div>
                </div>
                <div class="post_item">
                    <h2 class="postn_name">Making a design system from scratch</h2>
                    <div class="post_infor">
                        <p class="time_post">
                            12 Feb 2020
                        </p>
                        <span style="margin-left: 20px;">|</span>
                        <p class="post_cate">Design, Pattern</p>
                    </div>
                    <div class="post_desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="feature_words">
        <div class="container">
            <div class="row_word">
                <h2 class="title">Featured works</h2>
            </div>
            <div class="row_word">
                <div class="colum_word">
                    <div class="image_word">
                        <img src="../assets/img/Rectangle 30.jpg" alt="">
                    </div>
                    <div class="infor_word">
                        <ul>
                            <li>
                                <h2 class="infor_word_name">Designing Dashboards</h2>
                            </li>
                            <li>
                                <div class="word_item">
                                    <div class="btn_word">2020</div>
                                    <div class="word_cate">
                                        Dashboard
                                    </div>
                                </div>
                            </li>
                            <li class="word_desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. </li>
                        </ul>
                    </div>
                </div>
                <hr>

            </div>
        </div>
    </section> -->
    <router-outlet></router-outlet>
    <footer>
        <div class="container">
            <div class="icon">
                <ul class="icon">
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-github"></i></li>
                </ul>
                <h3>Copyright ©2020 All rights reserved </h3>
            </div>
        </div>
    </footer>

</body>

</html>